            <section id='about'>
                <div class='row'>
                    <div class='col-12'>
                        <h3><strong>Welcome to Tech Blog</strong></h4>
                    </div>
                </div>
            </section>