<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-5'>
      <h2>Add New Article</h2>
      <form class='newArticleForm'>
        <div class='form-group'>
          <label for='article-title'>Title</label>
          <input type='text' class='form-control' id='new-Article-Title' placeholder='Enter Article Title Here'>
        </div>
        <div class='form-group'>
          <label for='article-content'>Content</label>
          <input type='text' class='form-control' id='new-Article-Content' placeholder='Enter Content Here'>
        </div>
        <div class='btn-group'>
          <button class='btn btn-primary submit' id='btn-save' type='submit'>Save</button>
          <button class='btn btn-warning submit' id='btn-cancel' type='reset'>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--When this is pathed like all of the others, with a . before the /, it isn't finding the file. -->
<script src='/js/newArticle.js'></script>